.Hp {
  display: flex;
  position: relative;
  width: 1440px;
  height: 4213px;
}
.Hp header {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 336px;
  background-color: var(--black);
  align-items: center;
}
.Hp header h1 {
  position: absolute;
  width: 283px;
  height: 44px;
  left: 579px;
  top: 195px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  /* identical to box height, or 110% */
  text-align: center;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.Hp hr {
  position: absolute;
  width: 1110px;
  height: 1px;
  top: 96px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.2;
}
.Hp footer {
  position: absolute;
  top: 3848px;
}
@media screen and (max-width: 768px) {
  .Hp {
    width: 768px;
  }
  .Hp header {
    width: 768px;
  }
  .Hp header h1 {
    top: 195px;
    left: 243px;
  }
  .Hp hr {
    width: 689px;
  }
}
@media screen and (max-width: 375px) {
  .Hp {
    width: 375px;
    height: 4977px;
  }
  .Hp header {
    width: 375px;
    height: 192px;
  }
  .Hp header h1 {
    top: 122px;
    left: 84px;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 207px;
  }
  .Hp hr {
    width: 375px;
    left: 0px;
    border: 0;
  }
  .Hp footer {
    top: 4323px;
  }
}

.Hp__group1 {
  display: flex;
  position: absolute;
  left: 165px;
  top: 496px;
  width: 1110px;
  height: 560px;
}
.Hp__group1 img {
  width: 540px;
  height: 560px;
}
.Hp__group1 div {
  left: 665px;
  top: 136px;
}
.Hp__group1 h4 {
  position: absolute;
  left: 665px;
  top: 101px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--orange);
}
@media screen and (max-width: 768px) {
  .Hp__group1 {
    width: 689px;
    height: 706px;
    left: 39px;
    top: 456px;
    flex-direction: column;
  }
  .Hp__group1 img {
    width: 689px;
    height: 352px;
  }
  .Hp__group1 h4 {
    top: 404px;
    left: 246px;
  }
  .Hp__group1 div {
    top: 439px;
    left: 59px;
  }
}
@media screen and (max-width: 375px) {
  .Hp__group1 {
    width: 327px;
    height: 724px;
    left: 24px;
    top: 256px;
  }
  .Hp__group1 img {
    width: 327px;
    height: 352px;
  }
  .Hp__group1 div {
    width: 327px;
    height: 340px;
    left: 0px;
  }
  .Hp__group1 h4 {
    left: 64px;
    top: 384px;
  }
}

.Hp__group2 {
  display: flex;
  position: absolute;
  left: 165px;
  top: 1216px;
  width: 1110px;
  height: 560px;
}
.Hp__group2 img {
  position: absolute;
  left: 570px;
  width: 540px;
  height: 560px;
}
.Hp__group2 div {
  top: 136px;
}
@media screen and (max-width: 768px) {
  .Hp__group2 {
    width: 689px;
    height: 706px;
    left: 39px;
    top: 1282px;
    flex-direction: column;
  }
  .Hp__group2 img {
    width: 689px;
    height: 352px;
    left: 0px;
  }
  .Hp__group2 div {
    top: 439px;
    left: 59px;
  }
}
@media screen and (max-width: 375px) {
  .Hp__group2 {
    width: 327px;
    height: 724px;
    left: 24px;
    top: 1100px;
  }
  .Hp__group2 img {
    width: 327px;
    height: 352px;
  }
  .Hp__group2 div {
    width: 327px;
    height: 340px;
    left: 0px;
  }
}

.Hp__group3 {
  display: flex;
  position: absolute;
  left: 165px;
  top: 1936px;
  width: 1110px;
  height: 560px;
}
.Hp__group3 img {
  width: 540px;
  height: 560px;
}
.Hp__group3 div {
  top: 136px;
  left: 665px;
}
@media screen and (max-width: 768px) {
  .Hp__group3 {
    width: 689px;
    height: 706px;
    left: 39px;
    top: 2073px;
    flex-direction: column;
  }
  .Hp__group3 img {
    width: 689px;
    height: 352px;
  }
  .Hp__group3 div {
    top: 439px;
    left: 59px;
  }
}
@media screen and (max-width: 375px) {
  .Hp__group3 {
    width: 327px;
    height: 724px;
    left: 24px;
    top: 1901px;
  }
  .Hp__group3 img {
    width: 327px;
    height: 352px;
  }
  .Hp__group3 div {
    width: 327px;
    height: 340px;
    left: 0px;
  }
}

.Hp__info {
  position: absolute;
  width: 445px;
  height: 308px;
}
.Hp__info h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  /* or 110% */
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
}
.Hp__info p {
  position: absolute;
  top: 120px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.Hp__info a {
  position: absolute;
  top: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 48px;
  background-color: var(--orange);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.Hp__info a:hover {
  background-color: var(--light-orange);
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .Hp__info {
    width: 572px;
    height: 302px;
  }
  .Hp__info p {
    text-align: center;
    top: 120px;
  }
  .Hp__info a {
    left: 207px;
    top: 219px;
  }
  .Hp__info h1 {
    position: absolute;
    width: 300px;
    text-align: center;
    left: 136px;
  }
}
@media screen and (max-width: 375px) {
  .Hp__info {
    width: 327px;
    height: 297px;
  }
  .Hp__info a {
    left: 88px;
    top: 249px;
  }
  .Hp__info h1 {
    left: 13.5px;
  }
}

.Hp__cat {
  position: absolute;
  top: 2656px;
  left: 165px;
}
@media screen and (max-width: 768px) {
  .Hp__cat {
    top: 2864px;
    left: 39px;
  }
}
@media screen and (max-width: 375px) {
  .Hp__cat {
    top: 2702px;
    left: 24px;
  }
}

.Hp__bg {
  position: absolute;
  top: 3100px;
  left: 165px;
}
@media screen and (max-width: 768px) {
  .Hp__bg {
    top: 3201px;
    left: 39px;
    width: 689px;
    height: 633px;
  }
}
@media screen and (max-width: 375px) {
  .Hp__bg {
    top: 3505px;
    left: 24px;
    width: 327px;
    height: 698px;
  }
}/*# sourceMappingURL=Headphones.css.map */