@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root{
  --font-base: 'Manrope', sans-serif;
  --black: #000000;
  --white: #FFFFFF;
  --light-orange: #FBAF85;
  --orange: #D87D4A;

  --light-grey: #F1F1F1;
  --sec-white: #FAFAFA;
  --sec-black: #101010;
}

*{
  font-family: var(--font-base);
  margin: 0;
}